language: python
matrix:
  include:
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true
    - python: 3.8-dev
      dist: xenial
      sudo: true
install: 
  - pip install tox-travis
  - pip install coveralls
script: tox

after_success:
    coveralls
